body {
  margin: 0;
  padding: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#86c4ec), color-stop(80%, #3366ff));
  background: linear-gradient(to bottom, #86c4ec 0%, #3366ff 80%);
}

.subBox_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 350px;
  width: 300px;
  margin-top: 75px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 16px 100px #0f1ea7;
          box-shadow: 10px 16px 100px #0f1ea7;
}

.subBox_main div {
  width: 240px;
  margin-top: 7px;
  margin-left: 15px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #25641f;
  width: 100px;
  border-bottom: 2px solid #25641f;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.title h1 {
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  margin-bottom: -10px;
}

.title h3 {
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}

.missions {
  margin-top: 20px;
}

.missions ul li {
  margin-left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  color: #060394;
}

.missions label {
  cursor: pointer;
  display: block;
  position: relative;
}

.missions label:hover {
  margin-left: 5px;
  color: #25641f;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

input {
  position: relative;
  cursor: pointer;
}

input::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  margin-left: -4px;
  margin-top: -2px;
  border: 2px solid #060394;
  border-radius: 50%;
  background-color: white;
}

input:checked::after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #25641f;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 1px;
  left: 3px;
}

.input_checkbox:checked::before {
  border-color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 25px;
  height: 25px;
  margin-left: -6px;
  margin-top: -6px;
}

.input_checkbox:checked::after {
  border-width: 0 2px 2px 0;
  width: 10px;
  height: 20px;
  margin-top: -9px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.button {
  margin-top: 610px;
  margin-left: -20px;
}

.button:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
/*# sourceMappingURL=style.css.map */