$color-main: #DE4738;
$color-background: #ec624f;

// Box Section starts

*{
  margin: 0;
  padding: 0;
}

section{
  display: flex;
  justify-content: center;
}

.box_main{
  display: flex;
  margin-top: 150px;
  flex-wrap: wrap;
  justify-content: center;
}

.box{
  display: block;
  background-color: $color-background;
  box-shadow: 2px 2px 20px black;
}

.box{
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  justify-content: center;

}

input{
  position: relative;
  margin: 4px;
  cursor: pointer;

    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: -5px;
      left: -5px;
      margin-left: 2px;
      margin-top: 2px;
      background-color: $color-main;
    }


    &:checked::after{
      content: "";
      display: block;
      background-color: white;
      width: 22px;
      height: 22px;
      top: -6px;
      left: -6px;
      margin: 2px;
      position: absolute;
  }
}

// Box Section ends

//Emoji Section starts

#pixel34::before , #pixel37::before ,  #pixel24::before , #pixel27::before , #pixel68::before , #pixel74::before , #pixel68::before , #pixel75::before ,  #pixel76::before  , #pixel77::before  , #pixel63::before{
  background-color: white;
  width: 22px;
  height: 22px;
  top: -6px;
  left: -6px;
  margin: 2px;
  position: absolute;
}

#pixel34:checked::after , #pixel37:checked::after,  #pixel24:checked::after , #pixel27:checked::after , #pixel68:checked::after , #pixel74:checked::after , #pixel68:checked::after , #pixel75:checked::after ,  #pixel76:checked::after  , #pixel77:checked::after  , #pixel63:checked::after{
  background-color: $color-main;
  width: 20px;
  height:20px;
  border: 1px solid $color-background;
  top: -6px;
  left: -6px;
}

//Emoji Section ends

// Button Section starts

.btn{
  position: absolute;
  margin-top: 220px;
  margin-left: 180px;
}

.btn:hover{
  transform: rotate(360deg);
  transition-duration: 0.7s;
}

// Button Section ends