$first_color: #3498db;
$second_color: #9b59b6;
$third_color: #1abc9c;

*{
  margin: 0;
  padding: 0;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.base{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  width: 400px;
}

.main-2{
  width: 400px;
  height: 400px;
  background-color: $first_color;
  border-radius: 5px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 10px black;
}

input{
  position: relative;
  cursor: pointer;
  margin: 25px;
  margin-top: 180px;

    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      left: -20px;
      top: -20px;
      padding: 20px;
      border: 2px solid white;
      border-radius: 50%;
      background-color: $first_color;
  }

    &:checked::after {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      cursor: default;
      left: -15px;
      appearance: radio;
      top: -15px;
      padding: 17px;
      border-radius: 50%;
      background-color: white;
  }
}

// Checkbox Section starts


// Checkbox  Section ends

// Button Section starts

.btn{
  margin-top: 510px;
  margin-left: -10px;
}

.btn:hover{
  transform: rotate(360deg);
  transition-duration: 0.7s;
}

// Button Section ends