$first_color: #3498db;
$second_color: #9b59b6;
$third_color: #1abc9c;

@mixin label{
  width: 40px;
  height: 40px;
  border: 2px solid white;
  margin: 10px;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

*{
  margin: 0;
  padding: 0;
}

.box{
  top: 100px;
  left: 500px;
  width: 400px;
  height: 400px;
  border-radius: 5px;
  z-index: 10;
  position: absolute;
  background-color: antiquewhite;
  overflow: hidden;
  box-shadow: 1px 2px 10px black;
}

.main_box{
  margin-left: -400px;
  background-color: $second_color;
  border-left: 400px solid $first_color;
  border-right: 400px solid $third_color;
  position: absolute;
  width: 400px;
  height: 400px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 160px;
  margin-left: 200px;
  position: absolute;
}

.circle{
  left: 614px;
  top: 276px;
  z-index: 11;
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: red;
  transition: transform 0.7s ease-out;
}

#first_label{
  @include label;
  margin-left: -130px;
}

#second_label{
  @include label;
}

#third_label{
  @include label;
  margin-left: 150px;
}

input{
  display: none;
}

// Checked Section starts

#second_input:checked ~ .circle{
  transform: translateX(200px);
}

#third_input:checked ~ .circle{
  transform: translateX(90px);
}

#second_input:checked ~ .main_box{
  transform: translateX(-400px);
}

#third_input:checked ~ .main_box{
  transform: translateX(-400px);
}
// Checked Section ends

// Button Section starts

.btn{
  margin-top: 500px;
  margin-left: 900px;
  position: absolute;
}

.btn:hover{
  transform: rotate(360deg);
  transition-duration: 0.7s;
}

// Button section ends
